.login-form{
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.3s;
}
.login-form button{
    width: 40%;
    padding: 15px 10px;
    margin: 10px;
    border: none;
}

.login-button{
    color: white;
    background-color: black;
    border-radius: 30px;
    transition: 0.3s;
}
.login-button:hover{
    color: white;
    transform: scale(1.03);
}
.google-button{
    color: white;
    background-color: rgb(17, 99, 192);
    border-radius: 30px;
    transition: 0.3s;
}
.google-button:hover{
    color: white;
    transform: scale(1.03);
}



/* responsive */
@media only screen and (max-width: 688px){
    .login-form{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .login-form{
        margin-left: 15%;
        margin-right: 15%;
    }
}